################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/RazorPages25/RazorPages25/appsettings.json
/RazorPages25/RazorPages25/appsettings.json
