@page
@model RazorPages25.Pages.Alumnos.IndexModel
@{
    ViewData["Title"] = "Alumnos";
}

<h1>Alumnos</h1>
<h3>@Model.Alumnos.Count() Alumnos</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alumno in Model.Alumnos)
        {
            <tr>
                <td>@alumno.Nombre</td>
                <td>@alumno.Email</td>
                <td>@alumno.CursoID</td>
            </tr>
        }
    </tbody>
</table>