@page
@model RazorPages25.Pages.Asignaturas.IndexModel
@{
}
<form method="get" class="mb-4">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="ProfesorSeleccionado" class="form-label">Filtrar por Profesor:</label>
            <select asp-for="ProfesorSeleccionado" asp-items="Model.Profesores" class="form-select">
            </select>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
</form>

@if (!Model.Asignaturas.Any())
{
    <div class="alert alert-info">
        <p>No hay asignaturas para el profesor seleccionado.</p>
    </div>
}
<div class="card-group">
    @foreach (var asignatura in Model.Asignaturas)
    {
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title>">@asignatura.CodAsignatura .- @asignatura.nomAsignatura</h5>
                <p class="card-text">Código: @asignatura.horas</p>
            </div>
        </div>
    }
</div>
